@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=DynaPuff&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.infoCardContainer{
    background-color: rgb(199, 238, 140);
    
}
.sliderFrame{
    background-color: rgb(9, 130, 243);
}
.imageElement{
    width: auto;
}

.infoCardImage{
    display: flex;
    width: 350px;
}
.infoCardSubhead{
    color:beige;
    font-size: larger;
    font-family:'Comfortaa' cursive;
}